#user-form {
  position: fixed;
  left: 30%;
  top: 20%;
  width: 40%;
}

#words-list {
  position: fixed;
  right: 30%;
  top: 30%;
  text-align: center;
  height: 50%;
  overflow-y: auto;
  border-style: solid;
  border-color: gray;
}

.word {
  border-bottom: solid indigo;
  border-width: 2px;
}

.word h3 {
  text-align: left;
}

.word h4 {
  text-align: right;
}

ul {
  list-style-type: none;
}